.places {
}

.places h1 {
    float: left;
    font-size: 30px;
    padding-left: 15px;
}

.places article {
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    padding-bottom: 15px;
}

.places-1 {
    top: 67px;
    left: -92px;
}

.places-2 {
    top: -661px;
    right: -477px;
}

.places-3 {
    top: 96px;
    left: -229px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
    padding-bottom: 15px;
}

.price_by_night {
    color: #FF5A5F;
    border: solid 4px #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    position: absolute;
    top: 12px;
    right: 19px;
    line-height: 58px;
    text-align: center;
}

.information {
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    vertical-align: middle;
}

.information .max_guest {
    width: 100px;
    background: url("../images/icon_group.png") no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: absolute;
    top: 103px;
    line-height: 30px;
    left: 60px;
    margin-left: 0px;
    background-position-x: 5px;
}

.information .number_rooms {
    width: 100px;
    background: url("../images/icon_bed.png") no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: relative;
    left: 5px;
    top: 12px;
    line-height: 30px;
    background-position-x: 15px;
}

.information .number_bathrooms {
    width: 100px;
    background: url("../images/icon_bath.png") no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: absolute;
    right: 38px;
    top: 103px;
    line-height: 30px;
    background-position-x: 15px;
}

.places .amenities {
    margin-top: 40px;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.places .amenities h2 {
    font-size: 16px;
    border-bottom: solid 1px #DDDDDD;
    text-align: left;
}

.places .amenities li {
    list-style: none;
    margin-top: -45px;
    position: relative;
    left: -40px;
    top: 20px;
}

.pet-friendly {
    background: url("../images/icon_pets.png") no-repeat;
    padding: 35px 55px;
    background-position-y: 15px;
}

.TV {
    background: url("../images/icon_tv.png") no-repeat;
    padding: 35px 35px;
    background-position: 6px 28px;
    background-size: 25px;
}

.Wifi {
    background: url("../images/icon_wifi.png") no-repeat;
    padding: 21px 35px;
    background-position: 6px 15px;
    background-size: 25px;
}

.places .reviews {
    margin-top: 40px;
    display: inline-block;
}

.places .reviews h2 {
    font-size: 16px;
    border-bottom: solid 1px #DDDDDD;
    text-align: left;
}

.places .reviews li{
    list-style: none;
    position: relative;
    left: -40px;
    top: -25px;
    margin-top: 55px;
}

.places .reviews li h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.places .reviews li p {
    font-size: 12px;
    margin-top: -13px;
    line-height: 15px;
    text-align: left;
}
