.places {
}

.places h1 {
    float: left;
    font-size: 30px;
    padding-left: 15px;
}

.places article {
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    display: inline-block;
}

.places-1 {
    top: 60px;
    left: -80px;
}

.places-2 {
    top: -78px;
    left: 500px;
}

.places-3 {
    top: 50px;
    left: -211px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
}
